<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Przelicznik Walut</title>

</head>
<body>
    <form th:action="@{/submit}" th:object="${DataModel}" method="post">
        <label for="currency">Currency:</label>
        <input type="text" id="currency" th:field="*{Currency}" />
        <label for="single">Pojedyńcza data</label><input type="radio" id="single" name="1">
        <label for="double">Zakres dat</label><input type="radio" id="double" name="1">
        <label for="date">Wprowadź pojedyńczą date</label><input type="date" id="date" name="*{Date}"/>
        <label for="StartDate">Wprowadź początkową date</label><input type="date" id="StartDate" name="*{Startdate}"/>
        <label for="EndDate">Wprowadź końcową date</label><input type="date" id="EndDate" name="*{Enddate}"/>
        <input type="number" id="age" th:field="*{age}" />
        <button type="submit">Submit</button>
    </form>
</body>
</html>